/*1 rem son 16 px*/

:root{
    --txt-input: 2rem ;
    --txt-button:1rem;
    --color-primario:darkblue;

    --backgpound-color-primario:#E5E5E5 ;
    --backgpound-color-secundario: white ;

    --viwport-table: 1000px;
    --viwport-phone : 500px;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--backgpound-color-primario);
}

.contenido{
    height: calc(100vh-5rem);
    width : calc(100vw-5rem);
    /*border: 2px solid black ;*/
    margin: 40px;
    display: flex;
    justify-content: flex-end;
}

.contenido__contenedorMain{
    width: 56%;
}

.contenido__contenedorMain__contenedorInput{
    height: 420px;
    width: 680px;
    /*border: 2px solid green ;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido__contenedorMain__input{
    margin-top: 8rem;
    border: none;
    font-size: var(--txt-input);
    color: var(--color-primario);
    outline: none;
    overflow: hidden;
    scrollbar-width: 0;
}

.contenido__contenedorMain__input::-webkit-scrollbar{
    width: 0;    
}

.contenido__contenedorMain__input::placeholder{
    font-size: var(--txt-input);
    color: var(--color-primario);
}

.contenido__contenedorMain__restricciones{
display: flex;

}

.contenido__contenedorMain__botones{

    width: 680px;
    display: flex;
    justify-content: space-between;
}

.contenido__contenedorMain__botones button{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-size: var(--txt-button);
}

.contenido__contenedorMain__botones__btnEncriptar{
   color: white;
   background-color: var(--color-primario);
}

.contenido__contenedorMain__botones__btnDesencriptar{
    background-color: #D8DFE8;
    color: var(--color-primario);
}

.contenido__contenedorAside{
width: 30%;
background-color: var(--backgpound-color-secundario);
border: 0,125rem solid red ;
}

.contenido__contenedorAside > *, .contenido__contenedorAside__contenedorTextos > * 
{
    background-color: var(--backgpound-color-secundario);
}

.contenido__contenedorAside__contenderImg{
    display: flex;
    justify-content: center;
    margin: 110px auto ;

}

.contenido__contenedorAside__contenderImg img{
    width: 50%;
}

.contenido__contenedorAside__contenedorTextos{
    width: 100%;
    text-align: center;
}

.contenido__contenedorAside__contenedorTextos >

.contenido__contenedorAside__Texto{

    padding: 32px;
    width: 100%;
    text-align: center;
}

@media (max-width: var(--viwport-table)){

    *{
        background-color: red;
    }
    .contenido{
        flex-direction:column ;
    }
    
}


@media (max-width: var(--viwport-phone)){

    .contenido{
        flex-direction:column ;
    }
}

