/*1 rem son 16 px*/

:root{
    --txt-input: 2rem ;
    --txt-button:1rem;


    --color-primario:darkblue;

    --backgpound-color-primario:#E5E5E5 ;
    --backgpound-color-secundario: white ;
    --backgpound-color-terciario: gray ;

    --viwport-table:1000px;
    --viwport-phone : 500px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--backgpound-color-primario);

}

.contenido{
    height: calc(100vh-5rem);
    width : calc(100vw-5rem);
    /*border: 2px solid black ;*/
    margin: 5rem;
    display: flex;
    justify-content: flex-end;
}

.contenido__contenedorMain{
    width: 70%;
}

.contenido__contenedorMain__contenedorInput{
    height: 27rem;
    width: 43rem;
    /*border: 2px solid green ;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido__contenedorMain__input{
    margin-top: 8rem;
    border: none;
    font-size: var(--txt-input);
    color: var(--color-primario);
    outline: none;
    overflow: hidden;
    scrollbar-width: 0;
}

.contenido__contenedorMain__input::-webkit-scrollbar{
    width: 0;    
}

.contenido__contenedorMain__input::placeholder{
    font-size: var(--txt-input);
    color: var(--color-primario);
}

.contenido__contenedorMain__restricciones{
display: flex;
}

.contenido__contenedorMain__restricciones span{
    background-color: var(--backgpound-color-terciario);
    width:1rem ;
    border-radius: 50px;
    color: var(--backgpound-color-secundario);
    text-align: center;
    margin-right: 0.5rem;
}

.contenido__contenedorMain__botones{

    width: 43rem;
    display: flex;
    justify-content: space-between;
}

.contenido__contenedorMain__botones button{
   margin-top: 1rem;
    width: 20rem;
    height: 4rem;
    border-radius: 24px;
    font-size: var(--txt-button);
    border: 0.15rem solid var(--color-primario);
}

.contenido__contenedorMain__botones__btnEncriptar{
   color: white;
   background-color: var(--color-primario);
}

.contenido__contenedorMain__botones__btnDesencriptar{
    background-color: #D8DFE8;
    color: var(--color-primario);
}

.contenido__contenedorAside{
width: 14rem;
display: flex;
flex-direction: column;
justify-content: space-around;
background-color: var(--backgpound-color-secundario);
border-radius: 32px;
-webkit-box-shadow: -1px 20px 34px -19px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 20px 34px -19px rgba(0,0,0,0.75);
box-shadow: -1px 20px 34px -19px rgba(0,0,0,0.75);
}

.contenido__contenedorAside > *, .contenido__contenedorAside__contenedorTextos > * 
{
    background-color: var(--backgpound-color-secundario);
}

.contenido__contenedorAside__contenderImg{
    display: flex;
    justify-content: center;
    margin: 110px auto ;
    background-color: var(--backgpound-color-secundario);

}

.contenido__contenedorAside__contenderImg img{
    width: 85%;
}

.contenido__contenedorAside__contenedorTextos{
    width: 100%;

  
}
.contenido__contenedorAside__Texto{
    margin-top: -5rem;
    text-align: center;
    background-color: var(--backgpound-color-secundario);
    font-size: var(--txt-button);
    font-weight: 800;
    margin-bottom: 1rem;


}



.contenido__contenedorAside__Texto_otro{
    text-align: center;
    background-color: var(--backgpound-color-secundario);
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}

/*javaScript*/
.contenido__contenedorAside__contendorTexto{

    height: 40%;
    background-color: var(--backgpound-color-secundario);
    border-radius: 32px;

}


.contenido__contenedorAside__TextoFuncion{
    margin-top: 1rem;
    background-color: var(--backgpound-color-secundario);
    padding: 1rem;
    border-radius: 32px;
    color: var(--color-primario);
}

.contenido__contenedorAside__contendorBtnCopiar{
    height: 0%;
    margin: auto;

}



.contenido__contenedorAside__BtnCopiar{
    width: 13rem;
    height: 3rem;
    border-radius: 24px;
    font-size: var(--txt-button);
    border: 0.15rem solid var(--color-primario);
    color: var(--color-primario);
}



@media screen and (max-width: 1170px){

    .contenido{
        width: 100%;
        flex-direction:column ;
    }


    .contenido__contenedorMain {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .contenido__contenedorAside{
        width: 70%;
        margin-top: 9rem;

    }
    .contenido__contenedorMain__contenedorInput{
        width: 100%;
    } 
    .contenido__contenedorMain__botones{
        width: 100%;
    }

    .contenido__contenedorMain__botones button{ 
        width: 48%
    }
    .contenido__contenedorAside__contendorTexto{
        border-radius: 32px;
    }

    .contenido__contenedorAside__Texto{

        margin-top: 1rem;
    }

    .contenido__contenedorAside__contenderImg{
        display: none;
    }
    .contenido__contenedorAside__Texto_otro{
        margin-bottom: 1rem;
    }

    .contenido__contenedorAside__contendorBtnCopiar{
    margin: 0;

    }
    .contenido__contenedorAside__BtnCopiar{
        display: flex;
        justify-content: center;
        width: 80%;
        margin-top: 20px;
        margin-left: 10%;
        align-items: center;
    }

    .contenido__contenedorAside__contendorBtnCopiar{
        margin-bottom: 1rem;
    }
}


@media screen and (max-width: 480px){

        .contenido{
        margin: 3rem;
        width: 80%;
        }
    .contenido__contenedorMain__botones{
        flex-direction: column;
        }

    .contenido__contenedorMain__botones button{
        width: 100%;
    }
}


@media screen and (min-width: 1400px){
    .contenido{
      width: 75%;
    }

}